<!-- Friends Section -->
    <section id="top-skills" style="padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 style="padding-left: 0px; font-weight: 700; padding-top: 20px; padding-bottom: 15px;">Workout Buddies</h1>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
            <div class="container">   
                <div class="row">
                    <div id="top1"  class="col-md-4 text-center">
                        
                            <div class="prof-img">
                            <img src="img/prof1.jpg" class="img-circle" alt="Professor" width="250" height="250" style="margin-left: 0px;">
                            </div>
                            <h1 style="padding-left:0px;">Joe Kheeva</h1>
                       
                    </div>
                    <div id="top2" class="col-md-4 text-center">
                       
                                <div class="prof-img">
                                <img src="img/prof2.jpg" class="img-circle" alt="Professor" width="250" height="250" style="margin-left: 0px;">
                                </div>
                                <h1 style="padding-left:0px;">Justin Potter</h1>
                        
                    </div>
                    <div id="top3" class="col-md-4 text-center">
                       
                                <div class="prof-img">
                                <img src="img/prof3.jpg" class="img-circle" alt="Professor" width="250" height="250" style="margin-left: 00px;">
                                </div>
                                <h1 style="padding-left:0px;">Sid Mukkamala</h1>
                        
                    </div>
                </div>
            </div><!-- Container end-->
    </section>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 style="padding-top: 0px; font-weight: 700; padding-bottom: 15px;">All Friends</h1>
                    <hr class="star-primary">
                </div>
            </div>
        </div>