<!-- TODO Make the navbar nice-->
<ul class="navbar">
  <li>
    <button class="nav-button" (click)="switchView('home')">
      HOME
    </button>
  </li>
  <li>
    <button class="nav-button" (click)="switchView('stats')">
      STATS
    </button>
  </li>
  <li>
    <button class="nav-button" (click)="switchView('friends')">
      FRIENDS
    </button>
  </li>
  <li style="float:right">
    <button class="nav-button" (click)="switchView('profile')">
      PROFILE
    </button>
  </li>
</ul>
   
       
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Move', 'Percentage'],
          ["King's pawn (e4)", 44],
          ["Queen's pawn (d4)", 31],
          ["Knight to King 3 (Nf3)", 12],
          ["Queen's bishop pawn (c4)", 10],
          ['Other', 3]
        ]);

        var options = {
          title: 'Chess opening moves',
          width: 900,
          legend: { position: 'none' },
          chart: { subtitle: 'popularity by percentage' },
          axes: {
            x: {
              0: { side: 'top', label: 'White to move'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>

<div *ngIf="viewHome">
  <app-home></app-home>
</div>

<div *ngIf="viewProfile">
  <app-profile></app-profile>
</div>

<div *ngIf="viewFriends">
  <app-friends></app-friends>
</div>

<div *ngIf="viewStats">
  <app-stats></app-stats>
</div>