
<section>
<div class="container">
<h1 style="padding-top: 30px; padding-bottom: 10px; font-weight: 600;">Push-Ups</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Push-Up Grasshopper</h3>
<p>Do 20 push-ups.</p>
</div>


<div style='text-align:  -webkit-center; float:left; padding:30px;'>
<img src="/img/silver.png" alt="Portfolio Item">
<h3>Push-Up Master</h3>
<p>Do 50 push-ups.</p>
</div>

</div>

</section>


<section>
<div class="container">
<h1 style="padding-bottom: 25px; margin-top: 15px; font-weight: 600;">Sit-Ups</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Sit-Up Grasshopper</h3>
<p>Do 20 sit-ups.</p>
</div>


<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/silver.png" alt="Portfolio Item">
<h3>Sit-Up Master</h3>
<p>Do 50 sit-ups.</p>
</div>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/gold.png" alt="Portfolio Item">
<h3>Sit-Up Sensei</h3>
<p>Do 100 sit-ups.</p>
</div>
</div>

</section>

<section>
<div class="container">
<h1 style="padding-bottom: 25px; margin-top: 15px;font-weight: 600;">Burpees</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Burpee Grasshopper</h3>
<p>Do 20 burpees.</p>
</div>


<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/silver.png" alt="Portfolio Item">
<h3>Burpee Master</h3>
<p>Do 50 burpees.</p>
</div>


</div>

</section>

<section>
<div class="container">
<h1 style="padding-bottom: 25px; margin-top: 15px;font-weight: 600;">Plank</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Plank Grasshopper</h3>
<p>Hold a plank for 2 minutes.</p>
</div>


</div>

</section>