<div>
    <figure>
    <img src="http://lorempixel.com/192/96/sports/1" alt="Portfolio Item">
    <figcaption>
        <h3>Push-Up Century</h3>
        <p>Do 100 push-ups.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/2" alt="Portfolio Item">
    <figcaption>
        <h3>Jumping Jack Centure</h3>
        <p>Do 100 Jumping Jacks.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/3" alt="Portfolio Item">
    <figcaption>
        <h3>Plank Master</h3>
        <p>Hold a plank for 1 minute.</p>
    </figcaption>
</figure>

</div>

<figure>
    <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
    <figcaption>
        <h3>Plank God</h3>
        <p>Hold a plank for 5 minutes.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/5" alt="Portfolio Item">
    <figcaption>
        <h3>Everest</h3>
        <p>Do 500 Mountain climbers.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/6" alt="Portfolio Item">
    <figcaption>
        <h3>Kilimanjaro</h3>
        <p>Do 300 Mountain climbers.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/7" alt="Portfolio Item">
    <figcaption>
        <h3>Clap Clap</h3>
        <p>Do 100 clap push-ups.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/8" alt="Portfolio Item">
    <figcaption>
        <h3>Bling Bling</h3>
        <p>Do 200 diamond push-ups.</p>
    </figcaption>
</figure>
