
<section>
<div class="container">
<h1>Push Ups</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>


<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete2.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete3.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>
</div>

</section>


<section>
<div class="container">
<h1>Push Ups</h1>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>

<div style='text-align: -webkit-center; float:left; padding:30px;'>
<img src="/img/complete4.png" alt="Portfolio Item">
<h3>Plank God</h3>
<p>Hold a plank for 5 minutes.</p>
</div>

</div>

</section>