<div class="profile">
  <h3>Create your workout</h3>
  <div id="time-range">
    <p>Time Range: <span class="slider-time">9:00 AM</span> - <span class="slider-time2">5:00 PM</span>

    </p>
    <div class="sliders_step1">
        <div id="slider-range"></div>
    </div>
  </div>
  <hr>
  <h3>Select days to be active</h3>
  <input type="checkbox" name="vehicle" value="Bike">Mon<br>
  <input type="checkbox" name="vehicle" value="Bike">Tue<br>
  <input type="checkbox" name="vehicle" value="Bike">Wed<br>
  <input type="checkbox" name="vehicle" value="Bike">Thu<br>
  <input type="checkbox" name="vehicle" value="Bike">Fri<br>
  <input type="checkbox" name="vehicle" value="Bike">Sat<br>
  <input type="checkbox" name="vehicle" value="Bike">Sun<br>
  <hr>
  <h3>Decide your workout preferences</h3>
</div>