<div class="profile">
  <h3>Create your workout</h3>
  <div id="time-range">
    <p>Time Range: <span class="slider-time">9:00 AM</span> - <span class="slider-time2">5:00 PM</span>

    </p>
    <div class="sliders_step1">
      <div id="slider-range"></div>
    </div>
  </div>
  <hr>
  <h3>Select days to be active</h3>
  <input type="checkbox" name="mon" value="Mon">Mon<br>
  <input type="checkbox" name="tue" value="Tue">Tue<br>
  <input type="checkbox" name="wed" value="Wed">Wed<br>
  <input type="checkbox" name="thu" value="Thu">Thu<br>
  <input type="checkbox" name="fri" value="Fri">Fri<br>
  <input type="checkbox" name="sat" value="Sat">Sat<br>
  <input type="checkbox" name="sun" value="Sun">Sun<br>
  
  <hr>
  
  <h3>Decide your workout preferences</h3>
  
  <input id="toggleUpperBody" type="checkbox" checked>
  <label for="toggleUpperBody">Upper Body</label>
  <div id="expandUpperBody">
    <input type="checkbox" name="regular-pushup" value="1">Regular Push-Up<br>
    <input type="checkbox" name="clap-pushup" value="2">Clap Push-Up<br>
    <input type="checkbox" name="military-pushup" value="3">Military Push-Up<br>
    <input type="checkbox" name="diamon-pushup" value="4">Diamond Push-Up<br>
    <input type="checkbox" name="chair-dip" value="5">Chair Dip<br>
  </div>
  
  <input id="toggleLowerBody" type="checkbox" checked>
  <label for="toggleLowerBody">Lower Body</label>
  <div id="expandLowerBody">
    <input type="checkbox" name="squat" value="8">squat<br>
    <input type="checkbox" name="onelegged-squat" value="9">One-legged Squat<br>
    <input type="checkbox" name="jumping-jack" value="10">Jumping Jack<br>
    <input type="checkbox" name="lunge" value="13">Lunge<br>
    <input type="checkbox" name="squat-jump" value="14">Squat Jump<br>
    <input type="checkbox" name="tuck-jump" value="15">Tuck Jump<br>
  </div>
  
  <input id="toggleCore" type="checkbox" checked>
  <label for="toggleCore">Core</label>
  <div id="expandCore">
    <input type="checkbox" name="plank" value="6">Plank<br>
    <input type="checkbox" name="sit-up" value="7">Sit-up<br>
  </div>
  
  <input id="fullBody" type="checkbox" checked>
  <label for="fullBody">Full Body</label>
  <div id="expandFullBody">
    <input type="checkbox" name="burpee" value="11">Burpee<br>
    <input type="checkbox" name="mountain-climber" value="12">Mountain Climber<br>
  </div>
</div>