<div class="profile">
  <h3>Create your workout</h3>
  <div id="time-range">
    <p>Time Range: <span class="slider-time">9:00 AM</span> - <span class="slider-time2">5:00 PM</span>

    </p>
    <div class="sliders_step1">
      <div id="slider-range"></div>
    </div>
  </div>
  <hr>
  <h3>Select days to be active</h3>
  <input type="checkbox" value="Mon">Mon<br>
  <input type="checkbox" value="Tue">Tue<br>
  <input type="checkbox" value="Wed">Wed<br>
  <input type="checkbox" value="Thu">Thu<br>
  <input type="checkbox" value="Fri">Fri<br>
  <input type="checkbox" value="Sat">Sat<br>
  <input type="checkbox" value="Sun">Sun<br>
  
  <hr>
  
  <h3>Decide your workout preferences</h3>
  
  <input id="toggleUpperBody" type="checkbox" checked>
  <label for="toggleUpperBody">Upper Body</label>
  <div id="expandUpperBody">
    <input type="checkbox" value="1">Regular Push-Up<br>
    <input type="checkbox" value="2">Clap Push-Up<br>
    <input type="checkbox" value="3">Military Push-Up<br>
    <input type="checkbox" value="4">Diamond Push-Up<br>
    <input type="checkbox" value="5">Chair Dip<br>
  </div>
  
  <input id="toggleLowerBody" type="checkbox" checked>
  <label for="toggleLowerBody">Lower Body</label>
  <div id="expandLowerBody">
    <input type="checkbox" value="8">squat<br>
    <input type="checkbox" value="9">One-legged Squat<br>
    <input type="checkbox" value="10">Jumping Jack<br>
    <input type="checkbox" value="13">Lunge<br>
    <input type="checkbox" value="14">Squat Jump<br>
    <input type="checkbox" value="15">Tuck Jump<br>
  </div>
  
  <input id="toggleCore" type="checkbox" checked>
  <label for="toggleCore">Core</label>
  <div id="expandCore">
    <input type="checkbox" value="6">Plank<br>
    <input type="checkbox" value="7">Sit-up<br>
  </div>
  
  <input id="fullBody" type="checkbox" checked>
  <label for="toggleCore">Full Body</label>
  <div id="expandFullBody">
    <input type="checkbox" value="11">Burpee<br>
    <input type="checkbox" value="12">Mountain Climber<br>
  </div>
</div>