<div class="welcome-box">

    <div class="spacing"></div>

    <div class="the-image-container">
      <img src="dropdown-title.png" alt="Dropdown" class="dropdown-title"/>
    </div>

  <div class="register-form" *ngIf="registerView">
    <h3 class="h1-header">
      Sign Up
    </h3>
    <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" required [(ngModel)]="email" (ngModelChange)="resetPlaceholders()" [placeholder]="registerEmailPlaceholder">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" required [(ngModel)]="password" (ngModelChange)="resetPlaceholders()" [placeholder]="registerPasswordPlaceholder">
      </div>
      <div>
        <input type="password" class="form-control" required [(ngModel)]="confirmPassword" (ngModelChange)="resetPlaceholders()"
          [placeholder]="registerConfirmPasswordPlaceholder">
      </div>
      <button type="submit" [disabled]="!registerForm.form.valid">
        SIGN UP
      </button>
    </form>
    <div class="small-spacing"></div>

    <div class="a-wrapper">
      <a (click)="switchView('login')">
        Already have an account?
      </a>
    </div>
  </div>

  <div class="login-form" *ngIf="loginView">
    <h3 class="h1-header">
      Log In
    </h3>
    <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" required [(ngModel)]="email" (ngModelChange)="resetPlaceholders()" [placeholder]="loginEmailPlaceholder">
      </div>
      <div class="form-group">
        <input type="password" autocomplete="new-password" class="form-control" required [(ngModel)]="password" (ngModelChange)="resetPlaceholders()" [placeholder]="loginPasswordPlaceholder">
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid">
      LOGIN
    </button>
    </form>

    <div class="small-spacing"></div>
    <div class="a-wrapper">
      <a (click)="switchView('register')">
        Don't have an account?
      </a>
    </div>
  </div>

</div>

<img class="logo-photo" src="logo.png" />

<div class="background-photo"></div>