@import 'variables';


html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0px;
  min-width: $min-width-supported;
  min-height: $min-height-supported;
}

.logo-photo {
  position: absolute;
  display: inline-block;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}